.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #a2b5ee;
  padding: 30px;
  margin: 0 auto;
  width: 70%;
}

.project-card .title{
  font-size: 28px;
}

.project-card .project-screenshot {
  width: 100%;
  margin: 20px 0;
}

.project-description {
  margin: 0 auto;
  height: auto;
}

.project-buttons {
  font-family: 'BigShouldersDisplay', sans-serif;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #95dacf;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 10px;
  margin: 20px;
	text-decoration: none;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.project-buttons a {
  margin: 5px;
  color: #95dacf;
  text-decoration: none;
}

.project-buttons:hover {
	background-color: #4e6096;
  color: #F0F7F9;
}

.frameworks-used {
  margin-top: 20px;
}

.carousel-controls {
  display: flex;
  position: relative;
  top: 350px;
  gap: 1500px;
}

.carousel-controls button {
  background-color: transparent;
  border: 1px solid #a2b5ee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #95dacf;
  transition: background-color 0.3s, color 0.3s;
}

.carousel-controls button:hover {
  background-color: #4e6096;
  color: #f0f7f9;
}

@media (max-width: 1440px) {
  .carousel-controls {
    gap: 1000px;
  }
}

@media (max-width: 1140px) {
  .carousel-controls {
    gap: 800px;
  }
}

@media (max-width: 940px) {
  .carousel-controls {
    gap: 650px;
  }
}

@media (max-width: 768px) {
  .carousel-controls {
    gap: 500px;
    top: 250px;
  }
  .project-description {
    display: none;
  }
  .project-buttons {
    font-size: 14px;
    padding: 5px 5px;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .carousel-controls {
    gap: 400px;
  }
}

@media (max-width: 500px) {
  .carousel-controls {
    gap: 300px;
  }
}

@media (max-width: 400px) {
  .carousel-controls {
    gap: 225px;
  }
}
