.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #a2b5ee;
  padding: 30px;
  margin: 0 auto;
}

.project-card .title{
  font-size: 28px;
}

.project-card .project-screenshot {
  width: 100%;
  margin: 20px 0;
}

.project-description {
  margin: 0 auto;
  height: auto;
}

.project-buttons {
  font-family: 'BigShouldersDisplay', sans-serif;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #95dacf;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 10px;
  margin: 20px;
	text-decoration: none;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.project-buttons a {
  margin: 5px;
  color: #95dacf;
  text-decoration: none;
}

.project-buttons:hover {
	background-color: #4e6096;
  color: #F0F7F9;
}

.frameworks-used {
  margin-top: 20px;
}

.carousel {
  display: flex;
  width: 90%;
}

.carousel button {
  background-color: transparent;
  border: 1px solid #a2b5ee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #95dacf;
  transition: background-color 0.3s, color 0.3s;
}

.carousel button:hover {
  background-color: #4e6096;
  color: #f0f7f9;
}

.nextbtn,
.prevbtn {
  display: flex;
  align-items: center;
  margin: 20px;
}

@media (max-width: 768px) {
  .project-description {
    display: none;
  }
  .carousel {
    width: 115%;
  }
  .skills-icon .tooltip-container {
    margin: 5px;
  }
  .project-buttons {
    padding: 5px 5px;
    margin: 5px;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 130%;
  }
  .skills-icon .tooltip-container {
    margin: 5px;
  }
  .project-buttons {
    padding: 5px 5px;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .carousel {
    width: 140%;
  }
}


