.scroll-to-top-button {
  position: fixed;
  bottom: 150px;
  right: 50px;
  background-color: transparent;
  color: #95dacf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #a2b5ee;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button:hover {
  background-color: #4e6096;
  color: #f0f7f9;
}

.tooltip-container-scroll .scroll {
  font-family: 'BigShouldersDisplay', sans-serif;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: #F0F7F9;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border: 1px solid #99b0f7;
  text-align: center;
}

.scroll-to-top-button:hover .scroll{
  opacity: 1;
  visibility: visible;
}